<footer class="w3l-footer-29-main">
    <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-4">
            <div class="row footer-top-29">
                <div class="col-lg-4 col-md-6 footer-list-29">
                    <h6 class="footer-title-29">Contact Info</h6>
                    <p class="mb-2 pe-xl-5">
                        Address: DevArt Academy, 123 Creative Lane, Art District, NY - 10001.
                    </p>
                    <p class="mb-2">Phone: <a href="tel:+1(21) 123 4567" class="disabled">+1(21) 123 4567</a></p>
                    <p class="mb-2">Email: <a href="mailto:info@devartacademy.com" class="disabled">info@devartacademy.com</a></p>
                </div>
                <div class="col-lg-2 col-md-3 col-6 footer-list-29 mt-md-0 mt-4">
                    <h6 class="footer-title-29">Quick Links</h6>
                    <ul>
                        <li><a href="#" class="disabled">About Us</a></li>
                        <li><a href="#" class="disabled">Courses</a></li>
                        <li><a href="#" class="disabled">Become a Mentor</a></li>
                        <li><a href="#" class="disabled">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-6 ps-lg-5 footer-list-29 mt-md-0 mt-4">
                    <h6 class="footer-title-29">Explore</h6>
                    <ul>
                        <li><a href="#" class="disabled">Blog Posts</a></li>
                        <li><a href="#" class="disabled">Privacy Policy</a></li>
                        <li><a href="#" class="disabled">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-list-29 mt-lg-0 mt-4 ps-lg-5">
                    <h6 class="footer-title-29">Subscribe</h6>
                    <form action="#" class="subscribe d-flex" method="post">
                        <input type="email" name="email" placeholder="Email Address" required="">
                        <button class="button-style" type="button" disabled>
                            <span class="fa fa-paper-plane" aria-hidden="true"></span>
                        </button>
                    </form>
                    <p class="mt-3">Subscribe to receive updates on our latest courses and events.</p>
                </div>
            </div>
            <p class="copy-footer-29 text-center pt-lg-2 mt-5 pb-2">
                © 2024 DevArt Academy. All rights reserved. Design inspired by <a href="https://w3layouts.com/" target="_blank" class="disabled">W3Layouts</a>
            </p>
        </div>
    </div>
</footer>
