@{
    Layout = "_LayoutAccount";
}

@model SchoolManagementSystem.Models.RecoverPasswordViewModel
@{
    ViewData["Title"] = "Recover Password";
}

<h2 class="form-account-title" style="text-align: center;">Recover Password</h2> <!-- Título centralizado -->

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post" class="form-account-bg-form">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group form-account-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-warning"></span>
            </div>

            <div class="form-group form-account-group">
                <input type="submit" value="Recover Password" class="btn btn-primary" />
                <a asp-action="Login" class="btn btn-success">Back to Login</a>
            </div>
        </form>

        <div class="form-account-success" style="text-align: center;">
            <p class="text-success">
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
