@{
    Layout = "_LayoutAccount";
}

@model SchoolManagementSystem.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<h2 class="form-account-title" style="text-align: center;">Reset Your Password</h2> <!-- Título centralizado -->

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post" class="form-account-bg-form">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Token" />

            <div class="form-group form-account-group">
                <label asp-for="UserName">Email</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-warning"></span>
            </div>

            <div class="form-group form-account-group">
                <label asp-for="Password">New Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-group form-account-group">
                <label asp-for="ConfirmPassword">Confirm</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
            </div>

            <div class="form-group form-account-group">
                <input type="submit" value="Reset Password" class="btn btn-primary" />
            </div>
        </form>

        <div class="form-account-success" style="text-align: center;">
            <p class="text-success">
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
