@{
    Layout = "_Dashboard";
    ViewBag.PageTitle = "Subjects";
    ViewBag.SubPageTitle = "Details";
}

@model SchoolManagementSystem.Models.SubjectViewModel

@{
    ViewData["Title"] = "Subject Details";
}

<h2>Subject Details</h2>

<div class="card">
    <div class="card-body">
        <h4>Subject</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2" data-toggle="tooltip" title="The name of the subject">Subject Name:</dt>
            <dd class="col-sm-10">@Model.SubjectName</dd>

            <dt class="col-sm-2" data-toggle="tooltip" title="A brief description of the subject">Description:</dt>
            <dd class="col-sm-10">@Model.Description</dd>

            <dt class="col-sm-2" data-toggle="tooltip" title="The number of credits awarded for this subject">Credits:</dt>
            <dd class="col-sm-10">@Model.Credits</dd>
        </dl>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
