@{
    Layout = "_Dashboard";
    ViewBag.PageTitle = "Subjects";
    ViewBag.SubPageTitle = "Index";
}

@using Newtonsoft.Json
@model IEnumerable<SchoolManagementSystem.Models.SubjectViewModel>

@{
    ViewData["Title"] = "Subjects";

    var jsonSerializerSettings = new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
                Formatting = Formatting.Indented
            };

    var serializedData = JsonConvert.SerializeObject(Model, jsonSerializerSettings);
}

<h2>Subjects</h2>

<div>
    <a asp-action="Create" class="btn btn-success mb-3">Create New Subject</a>
</div>

@if (!Model.Any())
{
    <div class="alert alert-info">No subjects found.</div>
}
else
{
    <div id="Grid"></div>
}

@section Scripts {
    <script id="actionTemplate" type="text/x-template">
        <a href="/Subjects/Edit/${Id}" class="btn btn-warning">Edit</a>
        <a href="/Subjects/Delete/${Id}" class="btn btn-danger">Delete</a>
    </script>

    <script>
        $(document).ready(function () {
            var serializedData = @Html.Raw(serializedData);

            var grid = new ej.grids.Grid({
                dataSource: serializedData,
                allowPaging: true,
                allowSorting: true,
                allowFiltering: true,
                allowGrouping: true,
                filterSettings: { type: 'Menu' },
                pageSettings: { pageSize: 10 },
                toolbar: ['Search'],
                groupSettings: { showGroupedColumn: true },
                columns: [
                    { field: "SubjectName", headerText: "Subject Name", width: 200 },
                    { field: "Description", headerText: "Description", width: 300 }, <!--Adicionado -->
                    { field: "Credits", headerText: "Credits", width: 100 }, <!--Adicionado -->
                    {
                        headerText: "Actions",
                        width: 180,
                        textAlign: "Center",
                        template: "#actionTemplate"
                    }
                ]
            });

            grid.appendTo("#Grid");
        });
    </script>
}
