@{
    Layout = "_Dashboard";
    ViewBag.PageTitle = "Subjects";
    ViewBag.SubPageTitle = "SubjectNotFound";
}

@{
    ViewData["Title"] = "Subject Not Found";
}

<h2>Subject Not Found</h2>

<div class="alert alert-warning">
    <p>Sorry, the Subject you are looking for could not be found.</p>
    <a href="@Url.Action("Index", "Subjects")" class="btn btn-primary">Back to Subject List</a>
</div>
